{% extends "::base.html.twig" %}

{% block title %}TunisiaMallAdministrationBundle:CarteFidelite:AjoutCarte{% endblock %}

{% block body %}
<h1>Welcome to the CarteFidelite:AjoutCarte page</h1>
{% endblock %}
