{% extends "::base.html.twig" %}

{% block title %}TunisiaMallAdministrationBundle:CarteFidelite:ModifierCarte{% endblock %}

{% block body %}
<h1>Welcome to the CarteFidelite:ModifierCarte page</h1>
{% endblock %}
