{% extends "::base.html.twig" %}

{% block title %}TunisiaMallAdministrationBundle:GestionComptes:SupprimerCompte{% endblock %}

{% block body %}
<h1>Welcome to the GestionComptes:SupprimerCompte page</h1>
{% endblock %}
