{% extends "::base.html.twig" %}

{% block title %}TunisiaMallAdministrationBundle:GestionComptes:ValiderResponsable{% endblock %}

{% block body %}
<h1>Welcome to the GestionComptes:ValiderResponsable page</h1>
{% endblock %}
