{% extends "::base.html.twig" %}

{% block title %}TunisiaMallAdministrationBundle:Produit:SupprimerArticle{% endblock %}

{% block body %}
<h1>Welcome to the Produit:SupprimerArticle page</h1>
{% endblock %}
